.board {
	display: flex;
	flex-direction: column;
	width: 320px;
	height: 320px;
	border: 2px solid black;
}

.board-row {
	display: flex;
}

.board-square {
	position: relative;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.board-square.light {
	background-color: #f0d9b5;
}

.board-square.dark {
	background-color: #b58863;
}
.board-label {
	position: absolute; /* Allow precise positioning */
	font-size: 10px; /* Make the labels smaller */
	color: #333; /* Change text color as needed */
	pointer-events: none; /* Make sure the labels do not interfere with clicks */
}

.row-label {
	top: 2px; /* Position in the top left corner */
	left: 2px; /* Position in the top left corner */
}

.col-label {
	bottom: 2px; /* Position in the bottom right corner */
	right: 2px; /* Position in the bottom right corner */
}
.white {
	color: white;
}

.black {
	color: black;
}
